@import "../../styleUtils/helpers";
@import "../../styleUtils/colors";

.header {
  background-color: @greyBlack;
  h1 {
    .centerVertically();
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
  }
}

.layoutLeft {
  height: 100%;
  .flex();
  .justifyStart();
}

.layoutBurgerMenu {
  .flex();
  .noWrap();
  .justifyAround();
  cursor: pointer;
}

.layoutText {
  .centerVertically();
}

.layoutRight {
  height: 100%;
  .flex();
  .justifyEnd();
}

.layoutLogo {
  color: @white;
  height:100%;
  display: grid;
  span {
    text-align:center;
    margin: auto;
  }
}

.positionIcon {
  .centerVertically();
}

.iconToggle {
  display: none;
}

.layoutInput {
  width: 100%;
  .flex();
  flex-direction: row;
  justify-content: start;
}

.searchField {
  z-index: 500;
  height: 20px;
  display: block;
  width: 90%;
  color: @white;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  outline: 0px;
  padding: 15px  5px 15px 0;
  margin: 10px 0 0;
  background: transparent;
}

.menuText {
  display: none;
  font-size: 0.7rem;
  line-height: 0.8rem;
  color: @white;
  padding-right: 15px;
}

.spacing {
  padding: 15px;
}

.pointer {
  cursor: pointer;
}

@media only screen and (min-width: 48em) {
  .header {
    h1 {
      font-size: 1.5rem;
    }
    .menuText {
      display:inherit;
    }
    .separatorRight {
      border-right: @border;
    }
    .separatorLeft {
      border-left: @border;
    }
    .iconToggle {
      display: inherit;
    }
  }
}
