@import "../../styleUtils/helpers.less";
@import "../../styleUtils/colors";

.whoweare {
  padding: 0 @xs-width;
  article {
    p {

    }
  }
  aside {
    .hide();
    img {
      display: block;
      margin: auto;
    }
  }
}

@media only screen and (min-width: 48em) {
  .whoweare {
    padding: @sm-width;
    article {
      h2 {
        font-size: 1.8rem;
      }
      p {
        margin-bottom: 32px;
      }
    }
    aside {
      .display();
    }
  }
}

@media only screen and (min-width: 64em) {
  .whoweare {
    padding: @md-width;
    article {
      h2 {
        font-size: 2.2rem;
      }
      p {
        margin-bottom: 40px;
      }
    }
  }
}
