@import "../../styleUtils/helpers.less";
@import "../../styleUtils/colors.less";

@directionnalMargin: 20px;

.circleArrow {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: border 0.3s ease;
  &:hover {
    border: 3px solid white;
  }
}

.positionRight {
  margin-right: @directionnalMargin;
}

.positionLeft {
    margin-left: @directionnalMargin;
}

.bannerTitle {
    display: none;
    position: absolute;
    top: 20px;
    right: 160px;
    color: @white;
}

@media only screen and (min-width: 48em) {
  .circleArrow {
    .centerVertically();
  }
  .bannerTitle {
    display: block;
    p {
      margin-bottom: 0;
      text-align: center;
      font-size: 4.5vw;
      font-weight: 600;
      line-height: 6vw;
    }
    a {
      margin: 1vw auto 0 auto;
    }
  }
}
