@import '../../styleUtils/colors';

.burger{
    background-color: @greyBlack;
    display: block;
    text-align: center;
    width: 50px;
    z-index: 2;

    transition: left 480ms ease, opacity 1s ease-in-out;

    span, span::before, span::after {
      content: "";
      background: @white none repeat scroll 0 0;
      border-radius: 2px;
      display: block;
      height: 2px;
      margin: 0 auto;
      position: relative;
      width: 30px;
      z-index: 10;
      transition: all 600ms ease-in-out 0s;
    }
    span {
      &::before, &::after {
        position: absolute;
      }
      &::before {
        top: -8px;
      }
      &::after {
        bottom: -8px;
      }
      &.crossBurger {
        background-color: transparent;
        &::before{
          top:0;
          transform: rotate(45deg);
        }
        &::after{
          top:0;
          transform: rotate(-45deg);
        }
      }
    }
}
