@import '../../styleUtils/helpers.less';
@import '../../styleUtils/colors.less';

.section {
  h3 {
    text-align: center;
    width: 100%;
  }
}


@media only screen and (min-width: 48em) {
  .section {
    h3 {
      font-size: 1.4rem;
    }
    p {
      margin-bottom: 32px;
    }
  }
}

@media only screen and (min-width: 64em) {
  .section {
    h3 {
      font-size: 1.8rem;
    }
    p {
      margin-bottom: 40px;
    }
  }
}
