
@white: #fff;
@black: #000;
@greyBlack: #22262a;
@greyLink: #555;
@white: #fff;
@blueSky: #288acf;
@greenflash: rgba(136,168,39,1);
@yellowAfternoon: rgba(215,154,35,1);
@redApple: rgba(207,49,47,1);
@purpleRain: rgba(128, 0, 144,1);
@pinkyRed: rgba(252,58,82,1);
@pinkyRedflat: rgba(252,58,82, 0.8);
