
/*****************/
/* Layout Helpers */

.flex {
  display: flex;
}

.noWrap {
  flex-wrap: nowrap;
}

.centerVertically {
  .flex();
  .direction();
  .justifyCenter;
}

.inlineBlock {
  display: inline-block;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyStart {
  justify-content: flex-start;
}

.direction {
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.justifyAround {
  justify-content: space-around;
}

.hide {
  display: none;
}

.display {
  display: block;
}


/**********************/
/* Components Helpers */

.button {
  display: block;
  color: @white;
  background-color: @pinkyRed;
  border: 1px solid @pinkyRed;
  width: 140px;
  text-align: center;
  padding: 10px 0;
  border-radius: 25px;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: @white;
    color: @pinkyRed;
  }
}

/**********************/
/* variables helpers */

@border: 1px solid rgba(255,255,255, 0.5);
@xs-width: 15px;
@sm-width: 45px;
@md-width: 60px;
