@import '../../styleUtils/colors';

.menu {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -67%;
    width: 67%;
    opacity: 0;
    background-color: @greyBlack;
    transition: left 480ms ease 0s, opacity 600ms ease;
    ul {
      margin: 0;
      padding: 56px 0;
      border-right: 1px solid @black;
      border-bottom: 1px solid @white;
    }
    li {
      height: 56px;
      line-height: 54px;
      background-color: @pinkyRed;
    }
    a {
      display: block;
      margin-left: 4px;
      padding-left: 10px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      color: @greyLink;
      background-color: @greyBlack;
      transition: color 0.3s ease-in-out 0s,margin-left 0.2s ease-in-out;
      &:hover, &:focus {
        text-decoration: inherit;
        color: @white;
        margin-left: 7px;
      }
    }
    &.animation{
      left:0;
      opacity: 1;
    }
}

@media only screen and (min-width: 48em) {
  .menu {
    width: 32%;
    left: -32%;
  }
}
